pandas==2.1.3
numpy==1.26.2
openai==0.27.8
transformers==
tensorflow==
opencv==
sklearn==
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
scipy>=1.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
